<div class="col-md-12">
    <div class="row">
        {% include 'ContentBundle::panel.html.twig' with { panelButtons: ''} %}
    </div>
    <div class="row">
        {% block main %}{% endblock %}
    </div>
</div>