<div class="panel panel-default">
    <div class="panel-body controllPanel">
        <div class="col-md-7 title"><strong>{{ breadcrumb() }}</strong></div>
        <div class="col-md-5 buttons text-right">
            {{ panelButtons|raw }}
        </div>
    </div>
</div>
