{% extends "ContentBundle::main.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@ContentBundle/Resources/public/js/tree.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets "@ContentBundle/Resources/public/css/style.css" %}
    <link rel="stylesheet" href="{{ asset(asset_url) }}">
    {% endstylesheets %}
{% endblock %}

{% block main %}
    <div ng-app="ContentBundle" data-ng-controller="indexController">
        <script type="text/ng-template" id="directory_template.html">
            <div class="clearfix" ng-mouseenter="action_panel[child.id] = 1;focus[child.id] = 'focus'"
                 ng-mouseleave="action_panel[child.id] = 0;focus[child.id] = ''" ng-class="focus[child.id]">
                <div class="col-md-8 folder" ng-click="toggleDirectory(child.id)">
                    <span ng-class="children[child.id]" class="glyphicon glyphicon-folder-close"></span> {[
                    child.title[locale] ]}
                </div>
                <div ng-show="action_panel[child.id] && child.is_deleted == false"
                     class="action-panel col-md-4 text-right">

                    <a href="{[ getUrl('cms_content_directories_edit', {id: child.id}) ]}"
                       title="{[ trans('edit', 'ContentTranslations') ]}">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>

                    <a href="{[ getUrl('cms_content_create', {parent: child.id}) ]}"
                       title="{[ trans('create_file', 'ContentTranslations') ]}">
                        <span class="glyphicon glyphicon-file"></span>
                    </a>
                    <a href="{[ getUrl('cms_content_directories_create', {parent: child.id}) ]}"
                       title="{[ trans('create_directory', 'ContentTranslations') ]}">
                        <span class="glyphicon glyphicon-folder-close"></span>
                    </a>

                    <a href="" confirmed-click="deleteDirectory(child.id)"
                       ng-confirm-click="{[ trans('confirm_message', 'ContentTranslations') ]}"
                       title="{[ trans('Delete') ]}">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </div>
                <div class="action-panel col-md-4 text-right"
                     ng-show="action_panel[child.id] && child.is_deleted == true">
                    <a href="" ng-click="restoreDirectory(child.id)"
                       title="{[ trans('restore', 'ContentTranslations') ]}">
                        <span class="glyphicon glyphicon-share-alt"></span>
                    </a>
                </div>
            </div>
            <dl ng-show="children[child.id]">
                <dd ng-repeat="child in directories|filter:{'parent': child.id, 'is_deleted': is_deleted}"
                    ng-include="'directory_template.html'" onload="is_deleted = is_deleted"></dd>
                <dd ng-repeat="file in contents|filter:{'parent': child.id, 'is_deleted': is_deleted}"
                    ng-include="'file_template.html'"></dd>
            </dl>
        </script>

        <script type="text/ng-template" id="file_template.html">
            <div class="clearfix" ng-mouseenter="action_panel_file[file.id] = 1;focus_file[file.id] = 'focus'"
                 ng-mouseleave="action_panel_file[file.id] = 0;focus_file[file.id] = ''" ng-class="focus_file[file.id]">
                <div class="col-md-8 file" ng-class="file.is_published?'text-info':'muted'" ng-click="preView(file.id)">
                    <span class="glyphicon glyphicon-file"></span> {[ file.title[locale]|limitTo: 49 ]} ...
                </div>
                <div class="action-panel col-md-4 text-right"
                     ng-show="action_panel_file[file.id] && file.is_deleted == false">

                    <a href="{[ getUrl('cms_content_edit', {id: file.id}) ]}"
                       title="{[ trans('edit', 'ContentTranslations') ]}">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>

                    <a href="" ng-click="changeStatus(file.id, false)" ng-show="file.is_published" class="change-status"
                       title="{[ trans('unpublished', 'ContentTranslations') ]}">
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </a>

                    <a href="" ng-click="changeStatus(file.id, true)" ng-show="!file.is_published" class="change-status"
                       title="{[ trans('published', 'ContentTranslations') ]}">
                        <span class="glyphicon glyphicon-ban-circle"></span>
                    </a>

                    <a href="" ng-click="deleteContent(file.id)" class="delete"
                       title="{[ trans('delete', 'ContentTranslations') ]}">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </div>
                <div class="action-panel col-md-4 text-right"
                     ng-show="action_panel_file[file.id] && file.is_deleted == true">
                    <a href="" ng-click="restoreFile(file.id)" title="{[ trans('restore', 'ContentTranslations') ]}">
                        <span class="glyphicon glyphicon-share-alt"></span>
                    </a>
                </div>
            </div>
        </script>

        <!-- Error block -->
        <div class="alert alert-error" ng-show="error">
            <button type="button" class="close" ng-click="clearError()">&times;</button>
            <strong>Error!</strong> {[ error ]}</a>
        </div>
        <div class="row-fluid clearfix">
            <div class="col-md-6">
                <dl class="tree clearfix">
                    <dd class="clearfix">
                        <div class="clearfix" ng-mouseenter="action_panel[0] = 1;focus[0] = 'focus'"
                             ng-mouseleave="action_panel[0] = 0;focus[0] = ''" ng-class="focus[0]">
                            <div class="col-md-8">
                                <span class="glyphicon glyphicon-folder-open"></span> {[ trans('root',
                                'ContentTranslations') ]}
                            </div>
                            <div ng-show="action_panel[0]" class="action-panel col-md-4 text-right">
                                <a href="{[ getUrl('cms_content_create') ]}" title="{[ trans('create_file') ]}">
                                    <span class="glyphicon glyphicon-file"></span>
                                </a>
                                <a href="{[ getUrl('cms_content_directories_create') ]}"
                                   title="{[ trans('create_directory') ]}">
                                    <span class="glyphicon glyphicon-folder-close"></span>
                                </a>
                            </div>
                        </div>
                        <dl>
                            <dd ng-repeat="child in directories|filter:{'parent': 0,'is_deleted': false}"
                                ng-include="'directory_template.html'" onload="is_deleted = false"></dd>
                            <dd ng-repeat="file in contents|filter:{'parent': 0, 'is_deleted': false}"
                                ng-include="'file_template.html'"></dd>
                        </dl>
                    </dd>
                    <dd class="clearfix">
                        <div class="clearfix" ng-mouseenter="focus[-1] = 'focus'" ng-mouseleave="focus[-1] = ''"
                             ng-class="focus[-1]">
                            <div class="col-md-8" ng-click="toggleDirectory(-1)">
                                <span class="glyphicon glyphicon-trash"></span> {[ trans('basket',
                                'ContentTranslations') ]}
                            </div>
                        </div>
                        <dl ng-show="children[-1]">
                            <dd ng-repeat="child in directories|filter:{'is_deleted': true}"
                                ng-include="'directory_template.html'" onload="is_deleted = true"></dd>
                            <dd ng-repeat="file in contents|filter:{'is_deleted': true}"
                                ng-include="'file_template.html'"></dd>
                        </dl>
                    </dd>
                </dl>
            </div>
            <div class="col-md-6 well" ng-show="view">
                <h2>{[view.title[locale]]}</h2>

                <div ng-html="view.content[locale]"></div>
            </div>
        </div>
    </div>
{% endblock %}
