{% extends "DashboardBundle:Layout:base.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@LocalizationBundle/Resources/public/js/localization_form.js'
    '@jquery_tinymce' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        tinymce.baseURL = '/bundles/core/vendor/tinymce';
        tinymce.init({
            auto_focus: true,
            plugins: [
                "advlist autolink lists link image charmap preview hr",
                "searchreplace wordcount visualblocks visualchars code fullscreen",
                "insertdatetime media nonbreaking table contextmenu directionality",
                "emoticons template paste textcolor"
            ],
            forced_root_block: "",
            force_br_newlines: true,
            force_p_newlines: false,
            image_advtab: false,
            theme: "modern",
            setup: function (editor) {
                editor.on('blur', function (e) {
                    editor.destroy();
                });
            }
        })

        $('.tinyMce').focusin(function () {
            tinymce.EditorManager.execCommand('mceAddEditor', true, this);
            tinymce.EditorManager.execCommand('mceFocus', true, this);
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets "@ContentBundle/Resources/public/css/style.css" %}
    <link rel="stylesheet" href="{{ asset(asset_url) }}">
    {% endstylesheets %}
{% endblock %}

{% block body %}
    {% embed 'ContentBundle::main.html.twig' %}
        {% block main %}
            <div class="row">
                {% form_theme form 'ContentBundle::fields.html.twig' %}
                <div class="col-md-12" ng-app="ContentBundle" ng-controller="editContent">
                    {{ form_start(form, {'method': 'POST', 'attr': {'class': 'form-horizontal'}}) }}
                        <div class="row">
                            <div class="col-md-12">
                                {{ show_locale_tabs() }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{ form_errors(form) }}
                                {{ form_row(form.title) }}
                                {{ form_rest(form) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="well well-sm text-right">
                                    <input type="submit" class="btn btn-primary btn-sm" data-loading-text="Saving..."
                                           value="{{ 'Save'|trans({}, 'systems') }}"/>
                                    <a href="javascript:history.go(-1)"
                                       class="btn btn-default btn-sm">{{ 'Cancel'|trans({}, 'systems') }}</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}