{% extends "DashboardBundle:Layout:base.html.twig" %}

{% block title %}{{ parent() }} - {{ 'Content list'|trans({},'messages') }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@ContentBundle/Resources/public/js/tree.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $.tree({
                'routes': {
                    'set_main': 'cms_content_ajax_set_main',
                    'get_info_file': 'cms_content_ajax_get_contents',
                    'get_info_dir': 'cms_content_directories_view',
                    'change_status_file': 'cms_content_ajax_change_status',
                    'change_status_dir': 'cms_content_directories_change_status',
                    'delete_file': 'cms_content_ajax_delete',
                    'delete_dir': 'cms_content_ajax_directories_delete'
                },
                'info': '.information'
            });
        });
    </script>
{% endblock %}

{% block body %}
    {% embed 'ContentBundle::main.html.twig' %}
        {% macro chaildDir(contents, directories, parent) %}
            {% if directories|length %}
                {% for keyDir,valDir in directories %}
                    {% if parent == valDir.parent %}
                        <ol class="dir clearfix{% if not valDir.isPublished %} text-muted{% endif %}"
                            data-id="{{ valDir.id }}">
                            <div class="col-md-8">
                                <span class="glyphicon glyphicon-folder-close"></span> {{ valDir.title|locale }}
                            </div>
                            <div class="action-panel hide col-md-4 text-right">
                                <a href="{{ url('cms_content_directories_edit',{'id': valDir.id}) }}"
                                   title="{{ 'Edit'|trans({}, 'systems') }}">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>
                                <a href="{{ url('cms_content_create',{'parent': valDir.id}) }}"
                                   title="{{ 'Create file'|trans({}, 'systems') }}">
                                    <span class="glyphicon glyphicon-file"></span>
                                </a>
                                <a href="{{ url('cms_content_directories_create',{'parent': valDir.id}) }}"
                                   title="{{ 'Create directory'|trans({}, 'systems') }}">
                                    <span class="glyphicon glyphicon-folder-close"></span>
                                </a>
                                {% if valDir.isPublished %}
                                    <a href="#" class="change-status" title="{{ 'Unpublished'|trans({}, 'systems') }}">
                                        <span class="glyphicon glyphicon-unchecked"></span>
                                    </a>
                                {% else %}
                                    <a href="#" class="change-status" title="{{ 'Published'|trans({}, 'systems') }}">
                                        <span class="glyphicon glyphicon-check"></span>
                                    </a>
                                {% endif %}
                                <a href="#" class="delete" title="{{ 'Delete'|trans({}, 'systems') }}">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </div>
                        </ol>
                        <ul class="hide" data-parent='{{ valDir.id }}'>
                            {{ _self.chaildDir(contents, directories, valDir.id) }}
                            {{ _self.findContent(contents, valDir.id) }}
                        </ul>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endmacro %}

        {% macro findContent(contents, parent) %}
            {% if contents|length %}
                {% for key,val in contents %}
                    {% if parent == val.parent %}
                        <ol class="file clearfix{% if not val.isPublished %} text-muted{% endif %}"
                            data-id="{{ val.id }}">
                            <div class="col-md-8 {% if val.isDeleted %} text-muted{% endif %}">
                                <span class="glyphicon {% if val.isMain %}glyphicon-home warning{% else %}glyphicon-file{% endif %}"></span> {{ (val.title)|locale }}
                            </div>
                            <div class="action-panel hide col-md-4 text-right">
                                <a href="{{ url('cms_content_edit',{'id': val.id}) }}"
                                   title="{{ 'Edit'|trans({}, 'systems') }}">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>
                                <a href="#" title="{{ 'Set as home'|trans({}, 'systems') }}"
                                   class="set-main{% if val.isMain %} hide{% endif %}">
                                    <span class="glyphicon glyphicon-home"></span>
                                </a>
                                {% if val.isPublished %}
                                    <a href="#" class="change-status" title="{{ 'Unpublished'|trans({}, 'systems') }}">
                                        <span class="glyphicon glyphicon-unchecked"></span>
                                    </a>
                                {% else %}
                                    <a href="#" class="change-status" title="{{ 'Published'|trans({}, 'systems') }}">
                                        <span class="glyphicon glyphicon-check"></span>
                                    </a>
                                {% endif %}
                                <a href="#" class="delete" title="{{ 'Delete'|trans({}, 'systems') }}">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </div>
                        </ol>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endmacro %}

        {% import _self as macros %}

        {% block main %}
            <div class="row-fluid clearfix">
                <div class="col-md-7">
                    <ul class="list-unstyled tree clearfix">
                        <li class="clearfix" data-id="0">
                            <div class="col-md-8">
                                <span class="glyphicon glyphicon-folder-open"></span> {{ 'Root'|trans({}, 'systems') }}
                            </div>
                            <div class="action-panel hide col-md-4 text-right">
                                <a href="{{ url('cms_content_create',{'parent': null}) }}"
                                   title="{{ 'Create file'|trans({}, 'systems') }}">
                                    <span class="glyphicon glyphicon-file"></span>
                                </a>
                                <a href="{{ url('cms_content_directories_create',{'parent': null}) }}"
                                   title="{{ 'Create directory'|trans({}, 'systems') }}">
                                    <span class="glyphicon glyphicon-folder-close"></span>
                                </a>
                            </div>
                        </li>
                        <ul class="list-unstyled">
                            {{ macros.chaildDir(contents, directories, null) }}
                            {{ macros.findContent(contents, null) }}
                        </ul>
                    </ul>
                </div>
                <div class="col-md-5 well information">

                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}