{% extends "ContentBundle::main.html.twig" %}

{% block title_content %}
    {{ page.title }}
{% endblock %}
    
{% block main %}
    <h1>{{ page.title }}</h1>

    {% autoescape %}
    {% spaceless %}
        {{ page.content|raw }}
    {% endspaceless %}
    {% endautoescape %}
    <hr>
    <div class="row">
        <div class="span6">
            <small>{{ 'author'|trans({}, 'ContentTranslations') }}: {{ page.createBy }}</small>
        </div>
        <div class="span6 text-right">
            <small>{{ 'date_create'|trans({}, 'ContentTranslations') }}: {{ page.dataCreate|date }}</small>
            </br>
            <small>{{ 'date_update'|trans({}, 'ContentTranslations') }}: {{ page.dataUpdate|date }}</small>
        </div>
    </div>
{% endblock %}
