.tree div {
    min-height: inherit !important;
    padding: 0 5px;
}

.tree .success, {
    background-color: #d0e9c6;
}

.tree .file {
    cursor: pointer;
}

.tree .folder {
    cursor: pointer;
}

.tree dl {
    margin: 5px 0px 5px 20px;
}

.tree dt, .tree dd {
    margin: 5px 0px;
}

.tree .focus {
    background-color: #d0e9c6;
}